* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Georgia", monospace;
}

nav {
	padding: 16px;
	margin-bottom: 4px;
	background-color: #FAD4C0;
	text-align: center;
}

.nav-link {
	margin-left: 10px;
	margin-right: 10px;
	color: #1E4F4F;
	text-decoration: none;
}

#landing {
	text-align: center;
}

#profile {
	/*instruction was at least*/
	height: 320px;
	width: 300px;
	margin-top: 2rem;
	margin-bottom: 10px;
	border-radius: 80px;
}

#name {
	margin-top: 5px;
	margin-bottom: 3px;
}

#title {
	margin-top: 7px;
	margin-bottom: 7px;
}

#intro {
	/*instruction was at least*/
	width: 500px;
	margin: auto;
}

#tools {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#tools-title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tools-img {
	height: 100px;
	width: 100px;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: #FFC1A6;
	border-radius: 20px;
	border: 2px solid #1E4F4F;
}

#projects {
	text-align: center;
}

.card {
	background-color: #FFC1A6;
	height: 400px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 20px;
	border: 2px solid #1E4F4F;
}

.card-img {
	height: 300px;
	width: 300px;
	margin-top: 1rem;
}

#contact {
	text-align: center;
	padding: 16px;
	margin-top: 4px;
	background-color: #FAD4C0;
}

#contact a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
 }

body {
	background-image: url(https://images.unsplash.com/photo-1679193559674-860ef78899bc?q=80&w=2098&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}